:root {
    --primary-color: #1a3252;
    /* river blue */
    --secondary-color: #394c13;
    /* moss green */
    --accent1-color: #02231b;
    /* dark brown */
    --accent2-color: #a38f6a;
    /* sand beige */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: "Times New Roman", Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2 {
    background-color: var(--accent2-color);
    color: var(--accent1-color);

}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    /* white text – make sure there is enough contrast with the background-color */
}

.hero article {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 20px;
    text-align: left;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 200px;
}

nav a {
    color: #fff;
    display: block;
    margin-bottom: 10px;
}

.socialmedia img {
    width: 1rem;
}

nav {
    background-color: var(--secondary-color);
}

section {
    background-color: var(--accent2-color);
}