:root {
    --primary-color: #1a3252;
    /* river blue */
    --secondary-color: #394c13;
    /* moss green */
    --accent1-color: #02231b;
    /* dark brown */
    --accent2-color: #a38f6a;
    /* sand beige */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: "Times New Roman", Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2 {
    background-color: var(--accent2-color);
    color: var(--accent1-color);

}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    /* white text – make sure there is enough contrast with the background-color */
}

.hero .hero-article {
    position: absolute;
    top: 300px;
    width: 100%;
    padding: 10px;
    text-align: left;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero .hero-article img {
    float: right;
    width: 250px;

}

nav {
    background-color: var(--secondary-color);
    color: #ffffff;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: #ffffff;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}

.socialmedia img {
    width: 1rem;
}

.socialmedia a {
    color: #ffffff;
}

section {
    background-color: var(--accent2-color);
}

section h2,
p {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

section p img {
    width: 200px;
    height: auto;
    margin: 20px;
}

.gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.gallery figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.gallery figcaption {
    font-size: 0.5rem;
}

.gallery img {
    width: 100px;
    height: auto;
    margin: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.5rem;
    font-size: smaller;
}

footer .socialmedia {
    display: flex;
    gap: 1rem;
}

footer .socialmedia img {
    width: 30px;
    height: auto;
}